body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}

.custom-bodytext {
  font-size: 18px; /* Bigger size for a heading */
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.1; /* More natural */
  color: #666A86; /* Your light blue */
  text-align: center;
}
.custom-bodytext-left {
  font-size: 20px; /* Bigger size for a heading */
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.2; /* More natural */
  color: #666A86; /* Your light blue */
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-title {
  font-size: 48px; /* Bigger size for a heading */
  font-weight: 350;
  letter-spacing: 4px;
  line-height: 1.2; /* More natural */
  color: #95B8D1; /* Your light blue */
  text-align: center;
  /* You don’t need align-items or justify-content here; those are flexbox properties */
}
.custom-subtitle {
  font-size: 20px; /* Bigger size for a heading */
  font-weight: 500;
  letter-spacing: 3.5px;
  line-height: 1.3; /* More natural */
  color: #666A86; /* Your light blue */
  text-align: center;
}

.navbar {
  background: #95B8D1;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.nav-container {
  display: flex;
  gap: 40px; /* adjust spacing between links */
  align-items: center;
  justify-content: center;
  width: 100%;
}
.custom-nav-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}
.custom-nav-link:hover {
  color: #666A86; /* or another hover color */
}

.drone-card {
  border: 1px solid #E8DDB5;
  padding: 15px;
  margin: 15px;
  border-radius: 8px;
  text-align: center;
  width: 250px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}
.drone-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.image-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap; /* makes layout responsive */
  margin-top: 30px;
}
.image-box {
  flex: 1 1 30%; /* try to take ~30% of row width */
  max-width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.responsive-image {
  width: 100%;
  height: auto;
}

footer {
  background-color: #95B8D1;
  border-top: 1px solid #dee2e6;

  font-size: 16px;
  display: flex;
  justify-content: center;
  padding: 15px;

  color: white;

}

